In [45]:
import pickle
import pandas as pd
from regression_class import RedditRegression as RR
from regression_class import TimestampClass
import numpy as np
import statsmodels.formula.api as smf

from pandas.api.types import is_numeric_dtype

In [21]:
data = pickle.load(open('test_data_crypto_5_days.p', 'rb'))
regression_threads = data['regression_data']
thread_data = data['all_data']

In [30]:
def get_day_of_week(value):
    return value.dayofweek

In [31]:
regression_threads.timestamp.apply(get_day_of_week)

0       5
1       5
2       5
3       5
4       5
       ..
2412    2
2413    2
2414    2
2415    2
2416    2
Name: timestamp, Length: 2417, dtype: int64

In [29]:
regression_threads.timestamp.apply(get_weekday)

0       5
1       5
2       5
3       5
4       5
       ..
2412    2
2413    2
2414    2
2415    2
2416    2
Name: timestamp, Length: 2417, dtype: int64

In [22]:
def get_weekday(value):
    weekday = value.weekday()
    return weekday

def get_weekend_or_weekday(value):
    weekday = value.weekday()
    if weekday < 5:
        return "Weekday"
    else:
        return "Weekend"
    

def get_hour(value):
    return value.hour

def get_time_of_day(value):
    h = get_hour(value)
    if 4 <= h <= 11:
        return "Morning"
    elif 12 <= h <= 19:
        return "Afternoon"
    else:
        return "Night"

In [23]:
for time_func in [get_weekend_or_weekday, get_time_of_day]:
    classified_series = regression_threads.timestamp.apply(time_func)
    category_map = pd.get_dummies(classified_series)
    regression_threads = pd.concat((regression_threads, category_map), axis=1)

In [38]:
new_col = regression_threads.timestamp.apply(time_func)

In [43]:
new_col = new_col.astype("category")

In [49]:
new_col.str.get_dummies()

      Afternoon  Morning  Night
0             0        0      1
1             0        0      1
2             0        0      1
3             0        0      1
4             0        0      1
...         ...      ...    ...
2412          0        0      1
2413          0        0      1
2414          0        0      1
2415          0        0      1
2416          0        0      1

[2417 rows x 3 columns]

In [50]:
new_cols = new_col.str.get_dummies()

In [52]:
a_list = ['1', 'b', '7', 'g']

In [54]:
a_list.remove('b')

In [55]:
a_list

['1', '7', 'g']

In [51]:
test_regmod.regression_params['x_cols']

['sentiment_sign',
 'sentiment_magnitude',
 'activity_ratio',
 'mean_author_sentiment_sign',
 'mean_author_sentiment_magnitude',
 'author_all_activity_count',
 'Weekday',
 'Weekend',
 'Afternoon',
 'Morning',
 'Night']

In [24]:
regression_threads

,thread_id,thread_size,authors,timestamp,author,score,subject_sentiment_score,sentiment_sign,sentiment_magnitude,success,Weekday,Weekend,Afternoon,Morning,Night
0,xsglev,2541,439,2022-10-01 00:00:13,8ac426fd80f0ea3761bdcd7f32591b09ce1c1366e59ef15c,1,0.0000,0.0,0.0000,1,0,1,0,0,1
1,xsgqgi,1,1,2022-10-01 00:06:27,41745e3272e1a87209a6a5749a2dafbd5cd3cf893eef1f2b,1,0.7096,1.0,0.7096,0,0,1,0,0,1
2,xsgqkx,1,1,2022-10-01 00:06:36,083ef865b12614c169cdba4e71069fd8be0cc39865222e24,1,0.3804,1.0,0.3804,0,0,1,0,0,1
3,xsgsb3,1,1,2022-10-01 00:08:49,d003c719ed03f48fc76d427eb3056f79590f84c7351b32a8,1,0.0000,0.0,0.0000,0,0,1,0,0,1
4,xsgz7t,22,16,2022-10-01 00:17:36,1230e32c76caf095a665b716ae1b0101adc0161facd5ea70,1,-0.6858,-1.0,0.6858,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,xwq30h,1,1,2022-10-05 23:40:14,a1a76e304e6725896c737cad404f2c324eb47fc22fc9a364,1,0.0000,0.0,0.0000,0,1,0,0,0,1
2413,xwq41v,1,1,2022-10-05 23:41:34,8bed7f272474ed9b9360c9d00e57f2abd9a695a78b6bf18b,1,0.0000,0.0,0.0000,0,1,0,0,0,1
2414,xwq4tj,6,5,2022-10-05 23:42:26,b4dbb952a0d2ac5a587f1c9b4cb680c2c70a782fed8985a3,1,0.0000,0.0,0.0000,1,1,0,0,0,1
2415,xwqcyg,1,1,2022-10-05 23:52:48,73c82df7d9caa907c1f936e3277540d5c7ccce7b8e530f7a,1,0.0000,0.0,0.0000,0,1,0,0,0,1
2416,xwqic8,2,2,2022-10-05 23:59:40,d31ba48f7fd1ca578ef33a906e1909a15c88e16066a7a504,1,0.7184,1.0,0.7184,1,1,0,0,0,1

In [25]:
X_COLS = [
    "sentiment_sign",
    "sentiment_magnitude",
    "activity_ratio",
    "mean_author_sentiment_sign",
    "mean_author_sentiment_magnitude",
    "author_all_activity_count",
    "Weekday",
    "Weekend",
    "Afternoon",
    "Morning",
    "Night"
]

extra_params = {
        "collection_window": 2,
        "model_window": 2,
        "validation_window":1,
        "x_cols": X_COLS,
    }

param_dict = RR.create_param_dict('dummy', 'logistic', regression_threads, thread_data, **extra_params)

In [26]:
test_regmod = RR(param_dict)
test_regmod.main()

regression_class_dummy_logistic - INFO - Running FSS
regression_class_dummy_logistic - INFO - Model 1
regression_class_dummy_logistic - INFO - Model 2
regression_class_dummy_logistic - INFO - Model 3
regression_class_dummy_logistic - INFO - Model 4
regression_class_dummy_logistic - INFO - Model 5
regression_class_dummy_logistic - INFO - Model 6
regression_class_dummy_logistic - INFO - Model 7
regression_class_dummy_logistic - INFO - Model 8
regression_class_dummy_logistic - INFO - Model 9
regression_class_dummy_logistic - INFO - Model 10
regression_class_dummy_logistic - INFO - Model 11

In [27]:
test_regmod.FSS_metrics['metric_df']

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
1,"(10,)",[0.5488580385132109],0.548858,"(Night,)",NaN,0.0,NaN
2,"(3, 10)",[0.5720779220779221],0.572078,"(mean_author_sentiment_sign, Night)",NaN,0.0,NaN
3,"(3, 4, 10)",[0.5940662785490372],0.594066,"(mean_author_sentiment_sign, mean_author_senti...",NaN,0.0,NaN
4,"(3, 4, 5, 10)",[0.5975145544111061],0.597515,"(mean_author_sentiment_sign, mean_author_senti...",NaN,0.0,NaN
5,"(2, 3, 4, 5, 10)",[0.6026645768025078],0.602665,"(activity_ratio, mean_author_sentiment_sign, m...",NaN,0.0,NaN
6,"(2, 3, 4, 5, 8, 10)",[0.6079713390058218],0.607971,"(activity_ratio, mean_author_sentiment_sign, m...",NaN,0.0,NaN
7,"(2, 3, 4, 5, 6, 8, 10)",[0.6079713390058218],0.607971,"(activity_ratio, mean_author_sentiment_sign, m...",NaN,0.0,NaN
8,"(2, 3, 4, 5, 6, 7, 8, 10)",[0.6079713390058218],0.607971,"(activity_ratio, mean_author_sentiment_sign, m...",NaN,0.0,NaN
9,"(2, 3, 4, 5, 6, 7, 8, 9, 10)",[0.6077474249888043],0.607747,"(activity_ratio, mean_author_sentiment_sign, m...",NaN,0.0,NaN
10,"(0, 2, 3, 4, 5, 6, 7, 8, 9, 10)",[0.6072548141513658],0.607255,"(sentiment_sign, activity_ratio, mean_author_s...",NaN,0.0,NaN
11,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)",[0.606000895656068],0.606001,"(sentiment_sign, sentiment_magnitude, activity...",NaN,0.0,NaN

In [28]:
test_regmod.regression_metrics['regression_params']

{1:               param        pvalue  conf_low  conf_high
 Intercept  1.347795  7.179241e-25  1.091281   1.604309
 Night      0.275594  6.371120e-02 -0.015721   0.566909,
 2:                                param        pvalue  conf_low  conf_high
 Intercept                   1.357487  7.791725e-25  1.098931   1.616043
 mean_author_sentiment_sign  0.182711  1.445385e-01 -0.062720   0.428142
 Night                       0.285948  5.531747e-02 -0.006504   0.578400,
 3:                                     param        pvalue  conf_low  conf_high
 Intercept                        1.360096  8.013443e-25  1.100975   1.619217
 mean_author_sentiment_sign       0.195706  1.218756e-01 -0.052251   0.443662
 mean_author_sentiment_magnitude -0.092769  4.577162e-01 -0.337612   0.152074
 Night                            0.288670  5.338499e-02 -0.004210   0.581549,
 4:                                     param        pvalue  conf_low  conf_high
 Intercept                        1.365126  8.952528e-25  1.104777   1.625476
 mean_author_sentiment_sign       0.165280  2.061361e-01 -0.090951   0.421512
 mean_author_sentiment_magnitude -0.065768  6.079662e-01 -0.317053   0.185516
 author_all_activity_count        0.133096  3.818734e-01 -0.165221   0.431414
 Night                            0.286793  5.526333e-02 -0.006458   0.580044,
 5:                                     param        pvalue  conf_low  conf_high
 Intercept                        1.369989  8.859837e-25  1.108738   1.631241
 activity_ratio                   0.153620  2.464844e-01 -0.106180   0.413420
 mean_author_sentiment_sign       0.134997  3.145635e-01 -0.128095   0.398090
 mean_author_sentiment_magnitude -0.052698  6.817689e-01 -0.304585   0.199189
 author_all_activity_count        0.075813  6.284380e-01 -0.231238   0.382863
 Night                            0.294440  4.988531e-02  0.000147   0.588733,
 6:                                     param        pvalue  conf_low  conf_high
 Intercept                        1.374462  9.157078e-25  1.112276   1.636648
 activity_ratio                   0.156443  2.373763e-01 -0.103061   0.415948
 mean_author_sentiment_sign       0.141880  2.923549e-01 -0.122211   0.405970
 mean_author_sentiment_magnitude -0.050737  6.936004e-01 -0.303146   0.201672
 author_all_activity_count        0.076816  6.257975e-01 -0.231922   0.385553
 Afternoon                        0.140757  3.189328e-01 -0.136048   0.417563
 Night                            0.360344  2.742660e-02  0.040101   0.680587,
 7:                                     param  pvalue  conf_low  conf_high
 Intercept                        1.374455     NaN       NaN        NaN
 activity_ratio                   0.156454     NaN       NaN        NaN
 mean_author_sentiment_sign       0.141886     NaN       NaN        NaN
 mean_author_sentiment_magnitude -0.050742     NaN       NaN        NaN
 author_all_activity_count        0.076804     NaN       NaN        NaN
 Weekday                          0.000000     NaN       NaN        NaN
 Afternoon                        0.140748     NaN       NaN        NaN
 Night                            0.360334     NaN       NaN        NaN,
 8:                                     param  pvalue  conf_low  conf_high
 Intercept                        1.374455     NaN       NaN        NaN
 activity_ratio                   0.156454     NaN       NaN        NaN
 mean_author_sentiment_sign       0.141886     NaN       NaN        NaN
 mean_author_sentiment_magnitude -0.050742     NaN       NaN        NaN
 author_all_activity_count        0.076804     NaN       NaN        NaN
 Weekday                          0.000000     NaN       NaN        NaN
 Weekend                          0.000000     NaN       NaN        NaN
 Afternoon                        0.140748     NaN       NaN        NaN
 Night                            0.360334     NaN       NaN        NaN,
 9:                                     param  pvalue  conf_low  conf_high
 Intercept                        1.374510     NaN       NaN        NaN
 activity_ratio                   0.156441     NaN       NaN        NaN
 mean_author_sentiment_sign       0.141946     NaN       NaN        NaN
 mean_author_sentiment_magnitude -0.050781     NaN       NaN        NaN
 author_all_activity_count        0.076762     NaN       NaN        NaN
 Weekday                          0.000000     NaN       NaN        NaN
 Weekend                          0.000000     NaN       NaN        NaN
 Afternoon                       -0.029361     NaN       NaN        NaN
 Morning                         -0.160351     NaN       NaN        NaN
 Night                            0.222159     NaN       NaN        NaN,
 10:                                     param  pvalue  conf_low  conf_high
 Intercept                        1.374691     NaN       NaN        NaN
 sentiment_sign                  -0.024220     NaN       NaN        NaN
 activity_ratio                   0.153422     NaN       NaN        NaN
 mean_author_sentiment_sign       0.144736     NaN       NaN        NaN
 mean_author_sentiment_magnitude -0.048531     NaN       NaN        NaN
 author_all_activity_count        0.075443     NaN       NaN        NaN
 Weekday                          0.000000     NaN       NaN        NaN
 Weekend                          0.000000     NaN       NaN        NaN
 Afternoon                       -0.028902     NaN       NaN        NaN
 Morning                         -0.160602     NaN       NaN        NaN
 Night                            0.221884     NaN       NaN        NaN,
 11:                                     param  pvalue  conf_low  conf_high
 Intercept                        1.375161     NaN       NaN        NaN
 sentiment_sign                  -0.024701     NaN       NaN        NaN
 sentiment_magnitude              0.032305     NaN       NaN        NaN
 activity_ratio                   0.155544     NaN       NaN        NaN
 mean_author_sentiment_sign       0.145986     NaN       NaN        NaN
 mean_author_sentiment_magnitude -0.048325     NaN       NaN        NaN
 author_all_activity_count        0.072465     NaN       NaN        NaN
 Weekday                          0.000000     NaN       NaN        NaN
 Weekend                          0.000000     NaN       NaN        NaN
 Afternoon                       -0.028278     NaN       NaN        NaN
 Morning                         -0.161608     NaN       NaN        NaN
 Night                            0.222284     NaN       NaN        NaN}

In [56]:
regression_threads

,thread_id,thread_size,authors,timestamp,author,score,subject_sentiment_score,sentiment_sign,sentiment_magnitude,success,Weekday,Weekend,Afternoon,Morning,Night
0,xsglev,2541,439,2022-10-01 00:00:13,8ac426fd80f0ea3761bdcd7f32591b09ce1c1366e59ef15c,1,0.0000,0.0,0.0000,1,0,1,0,0,1
1,xsgqgi,1,1,2022-10-01 00:06:27,41745e3272e1a87209a6a5749a2dafbd5cd3cf893eef1f2b,1,0.7096,1.0,0.7096,0,0,1,0,0,1
2,xsgqkx,1,1,2022-10-01 00:06:36,083ef865b12614c169cdba4e71069fd8be0cc39865222e24,1,0.3804,1.0,0.3804,0,0,1,0,0,1
3,xsgsb3,1,1,2022-10-01 00:08:49,d003c719ed03f48fc76d427eb3056f79590f84c7351b32a8,1,0.0000,0.0,0.0000,0,0,1,0,0,1
4,xsgz7t,22,16,2022-10-01 00:17:36,1230e32c76caf095a665b716ae1b0101adc0161facd5ea70,1,-0.6858,-1.0,0.6858,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,xwq30h,1,1,2022-10-05 23:40:14,a1a76e304e6725896c737cad404f2c324eb47fc22fc9a364,1,0.0000,0.0,0.0000,0,1,0,0,0,1
2413,xwq41v,1,1,2022-10-05 23:41:34,8bed7f272474ed9b9360c9d00e57f2abd9a695a78b6bf18b,1,0.0000,0.0,0.0000,0,1,0,0,0,1
2414,xwq4tj,6,5,2022-10-05 23:42:26,b4dbb952a0d2ac5a587f1c9b4cb680c2c70a782fed8985a3,1,0.0000,0.0,0.0000,1,1,0,0,0,1
2415,xwqcyg,1,1,2022-10-05 23:52:48,73c82df7d9caa907c1f936e3277540d5c7ccce7b8e530f7a,1,0.0000,0.0,0.0000,0,1,0,0,0,1
2416,xwqic8,2,2,2022-10-05 23:59:40,d31ba48f7fd1ca578ef33a906e1909a15c88e16066a7a504,1,0.7184,1.0,0.7184,1,1,0,0,0,1

In [57]:
thread_data

,thread_id,id,timestamp,author,domain,parent,score,subject_sentiment_score,body_sentiment_score,date,level,parent_comment,sentiment_score
0,xsglev,xsglev,2022-10-01 00:00:13,8ac426fd80f0ea3761bdcd7f32591b09ce1c1366e59ef15c,self.CryptoCurrency,NaN,1,0.0000,0.105971,2022-10-01,0,NaN,0.000000
1,xsgqgi,xsgqgi,2022-10-01 00:06:27,41745e3272e1a87209a6a5749a2dafbd5cd3cf893eef1f2b,self.CryptoCurrency,NaN,1,0.7096,0.000000,2022-10-01,0,NaN,0.709600
2,xsgqkx,xsgqkx,2022-10-01 00:06:36,083ef865b12614c169cdba4e71069fd8be0cc39865222e24,lyksoomu.com,NaN,1,0.3804,NaN,2022-10-01,0,NaN,0.380400
3,xsgsb3,xsgsb3,2022-10-01 00:08:49,d003c719ed03f48fc76d427eb3056f79590f84c7351b32a8,self.CryptoCurrency,NaN,1,0.0000,0.000000,2022-10-01,0,NaN,0.000000
4,xsgz7t,xsgz7t,2022-10-01 00:17:36,1230e32c76caf095a665b716ae1b0101adc0161facd5ea70,fool.com,NaN,1,-0.6858,NaN,2022-10-01,0,NaN,-0.685800
...,...,...,...,...,...,...,...,...,...,...,...,...,...
425385,xu65l4,itzoi05,2022-10-27 14:11:01,d4cff28a681ae05ad8ed53ea5925a3a343a0c2a6cbe0ba0a,NaN,xu65l4,1,NaN,0.000000,2022-10-27,1,itzoi05,0.000000
434391,xugyoe,iu2x0hb,2022-10-28 03:48:50,ce9a78c02df442b27caa593cb32050389e65f6350ffd7270,NaN,xugyoe,1,NaN,-0.012900,2022-10-28,1,iu2x0hb,-0.012900
437514,xwepjp,iu3tgka,2022-10-28 10:41:35,a150ec53c926c37f5e4b229488e045ed43db8495f0be8c35,NaN,xwepjp,1,NaN,0.335044,2022-10-28,1,iu3tgka,0.335044
460702,xugyoe,iua99zg,2022-10-29 19:47:45,97266b711ad94a4ec698d6323dad08a841032a4f04d7d64e,NaN,xugyoe,1,NaN,0.285550,2022-10-29,1,iua99zg,0.285550
471263,xsy91c,iudphrl,2022-10-30 15:33:43,eb38d8c34a000092edaedf781fb3839caabe8a297b5d502b,NaN,iqqjifs,1,NaN,0.599400,2022-10-30,4,iqmxxbw,0.599400